[submodule "vk-bootstrap"]
	path = vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
