[submodule "vk-bootstrap"]
	path = vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
[submodule "fastgltf"]
	path = fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
